.header {
  background-color: #232f3e;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
.cartLink {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.cartIcon {
  font-size: 24px;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
